<nz-spin [nzSpinning]="_submitLoading">
  <form nz-form [formGroup]="baseFormGroup">
    <div class="container-box" nz-row>
      <div class="form-header">基础信息</div>
      <div nz-col [nzSpan]="16">
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">商品名称</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input formControlName="name" id="name" placeholder="请输入商品名称">
            <nz-form-explain *ngIf="baseFormGroup.get('name').dirty && baseFormGroup.get('name').errors">请输入商品名称!</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="productIntroduction">商品简介</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input formControlName="productIntroduction" id="productIntroduction" placeholder="请输入商品简介">
            <nz-form-explain *ngIf="baseFormGroup.get('productIntroduction').dirty && baseFormGroup.get('productIntroduction').errors">请输入商品简介!</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div class="container-box" nz-row>
      <div class="form-header">商品属性</div>
      <div nz-col [nzSpan]="16">
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="productNum">商品编号</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input formControlName="productNum" id="productNum" placeholder="请输入商品编号">
            <nz-form-explain *ngIf="baseFormGroup.get('productNum').dirty && baseFormGroup.get('productNum').errors">请输入商品编号!</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>品牌</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <nz-input-group nzSearch [nzSuffix]="suffixIconButton1">
              <nz-select formControlName="brandId" nzShowSearch nzPlaceHolder="请选择品牌">
                <nz-option *ngFor="let item of listShopBrand" [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
              </nz-select>
              <ng-template #suffixIconButton1>
                <button nz-button style="border-top-left-radius: 0; border-bottom-left-radius: 0;" (click)="openSaveModal('brand')">新增品牌</button>
              </ng-template>
            </nz-input-group>
            <nz-form-explain *ngIf="baseFormGroup.get('brandId').dirty && baseFormGroup.get('brandId').errors">请选择品牌!</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>类型</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <nz-input-group nzSearch [nzSuffix]="suffixIconButton2">
              <nz-select formControlName="categoryId" nzShowSearch nzPlaceHolder="请选择类型" (ngModelChange)="categoryIdChange($event)">
                <nz-option *ngFor="let item of listShopCategory" [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
              </nz-select>
              <ng-template #suffixIconButton2>
                <button nz-button style="border-top-left-radius: 0; border-bottom-left-radius: 0;" (click)="openSaveModal('category')">新增类型</button>
              </ng-template>
            </nz-input-group>
            <nz-form-explain *ngIf="baseFormGroup.get('categoryId').dirty && baseFormGroup.get('categoryId').errors">请选择类型!</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>产地</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <nz-input-group nzSearch [nzSuffix]="suffixIconButton3">
              <nz-select formControlName="originId" nzShowSearch nzPlaceHolder="请选择产地">
                <nz-option *ngFor="let item of listShopOrigin" [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
              </nz-select>
              <ng-template #suffixIconButton3>
                <button nz-button style="border-top-left-radius: 0; border-bottom-left-radius: 0;" (click)="openSaveModal('origin')">新增产地</button>
              </ng-template>
            </nz-input-group>
            <nz-form-explain *ngIf="baseFormGroup.get('originId').dirty && baseFormGroup.get('originId').errors">请选择产地!</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="price">商品原价</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input formControlName="price" id="price" placeholder="请输入商品原价">
            <nz-form-explain *ngIf="baseFormGroup.get('price').dirty && baseFormGroup.get('price').errors">请输入商品原价!</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="activityPrice">活动价</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input formControlName="activityPrice" id="activityPrice" placeholder="请输入活动价">
            <nz-form-explain *ngIf="baseFormGroup.get('activityPrice').dirty && baseFormGroup.get('activityPrice').errors">请输入活动价!</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="freight">运费</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input formControlName="freight" id="freight" placeholder="请输入运费">
            <nz-form-explain *ngIf="baseFormGroup.get('freight').dirty && baseFormGroup.get('freight').errors">请输入运费!</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div class="container-box" nz-row>
      <div class="form-header">图片&详细说明</div>
      <nz-form-item>
        <nz-form-label [nzSm]="4" [nzXs]="24" nzRequired>商品封面图</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <app-upload-picture formControlName="coverPic"></app-upload-picture>
          <nz-form-explain [style.color]="'#f5222d'" *ngIf="baseFormGroup.get('coverPic').dirty && baseFormGroup.get('coverPic').errors">请上传商品封面图</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="4" [nzXs]="24" nzRequired>
          商品轮播图
          <nz-tooltip>
            <i class="anticon anticon-question-circle-o" nz-tooltip [ngStyle]="{'vertical-align': 'baseline', 'margin-left': '3px', 'cursor': 'ponter', 'color': '#333', 'font-size': '14px'}"></i>
            <ng-template #nzTemplate>
              <i class="anticon anticon-question-circle-o"></i>
              <span [style.margin-left]="'3px'">最多5张；支持png、jepg、gif格式的图片，图片大小请小于2M</span>
            </ng-template>
          </nz-tooltip>
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <app-upload-picture formControlName="carouselPic" [maxLength]="5"></app-upload-picture>
          <nz-form-explain [style.color]="'#f5222d'" *ngIf="baseFormGroup.get('carouselPic').dirty && baseFormGroup.get('carouselPic').errors">请上传商品轮播图</nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="4" [nzXs]="24" nzRequired>商品详情</nz-form-label>
        <nz-form-control [nzSm]="18" [nzXs]="24">
          <app-editor #editor [editorContent]="editorContent"></app-editor>
          <nz-form-explain [style.color]="'#f5222d'" *ngIf="baseFormGroup.get('coverPic').dirty && baseFormGroup.get('coverPic').errors">请输入商品详情</nz-form-explain>
        </nz-form-control>
      </nz-form-item>

    </div>
    <div class="container-box" nz-row *ngIf="baseFormGroup.get('categoryId').value">
      <div class="form-header">商品规格</div>
      <div nz-col [nzSpan]="16" [formGroup]="baseFormGroup.get('specifications')">
        <nz-form-item *ngFor="let item of specifications">
          <nz-form-label [nzSm]="6" [nzXs]="24">{{ item.specificationAttributeName }}</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <nz-checkbox-group [formControlName]="'category' + item.specificationAttributeId" (ngModelChange)="specificationsChange($event)"></nz-checkbox-group>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>
  <div class="container-box" nz-row *ngIf="baseFormGroup.get('categoryId').value">
    <div class="form-header">交易信息</div>
    <div style="padding: 0 24px;">
      <nz-table #basicTable [nzData]="dataSet">
        <thead>
          <tr>
            <th>规格信息</th>
            <th>原价</th>
            <th>活动价</th>
            <th>库存</th>
            <th>门店分润</th>
            <th>限购/人</th>
            <th>商品编号</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of basicTable.data">
            <td>
              <ng-container *ngFor="let item of data.middle; let idx = index">
                {{ item.label + (idx == data.length - 1 ? '' : '|') }}
              </ng-container>
            </td>
            <td><input nz-input placeholder="请输入原价" [(ngModel)]="data.price" nzSize="small"></td>
            <td><input nz-input placeholder="请输入活动价" [(ngModel)]="data.activityPrice" nzSize="small"></td>
            <td><input nz-input placeholder="请输入库存" [(ngModel)]="data.stock" nzSize="small"></td>
            <td><input nz-input placeholder="请输入门店分润" [(ngModel)]="data.extract" nzSize="small"></td>
            <td><input nz-input placeholder="请输入限购数" [(ngModel)]="data.purchase" nzSize="small"></td>
            <td><input nz-input placeholder="请输入商品编号" [(ngModel)]="data.subcode" nzSize="small"></td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</nz-spin>

<div class="form-footer">
  <button nz-button nzType="primary" nzSize="large" [nzLoading]="_submitLoading" (click)="_submit()">{{ _submitLoading ? '提交中...' : '提交' }}</button>
  <button nz-button nzType="default" nzSize="large" routerLink="/home/commodity/list">取消</button>
</div>


<nz-modal [(nzVisible)]="showAddModal" [nzTitle]="'新增' + saveAddTitle" (nzOnCancel)="showAddModal = false" (nzOnOk)="saveAddClass()" [nzOkLoading]="saveClassLoading">
  <input type="text" nz-input [placeholder]="'请输入' + saveAddTitle + '名称'" [(ngModel)]="addClassValue">
</nz-modal>