<div class="ui-header">

  <div class="ui-menu-collapsed" (click)="TapIsCollapsed()">
    <i class="anticon" [class.anticon-menu-fold]="!isCollapsed" [class.anticon-menu-unfold]="isCollapsed"></i>
  </div>

  <div class="ui-user-info">

    <nz-dropdown nzPlacement="bottomRight">
      <div class="ant-dropdown-link" nz-dropdown>
        <nz-avatar nzIcon="user" nzSize="small" style="vertical-align: middle" nzSrc="./assets/images/default-boy.png"></nz-avatar>
        <span>管理员</span>
      </div>
      <ul class="ant-dropdown-cell" nz-menu [style.width]="'140px'">
        <li nz-menu-item>
          <a href="javascript:;" style="background: #fff; cursor: no-drop; color: #ccc;">
            <i class="anticon anticon-user"></i>个人中心</a>
        </li>
        <li nz-menu-item>
          <a href="javascript:;" style="background: #fff; cursor: no-drop; color: #ccc;">
            <i class="anticon anticon-setting"></i>设置</a>
        </li>
        <li nz-menu-item>
          <a href="javascript:;" routerLink="/home/account/modify">
            <i class="anticon anticon-edit"></i>修改密码</a>
        </li>
        <li nz-menu-item>
          <a href="javascript:;" style="border-top: solid 1px #e8e8e8" (click)="signOut()">
            <i class="anticon anticon-logout"></i>退出登录</a>
        </li>
      </ul>
    </nz-dropdown>

  </div>

</div>