<div class="container">
  <ea-query [node]="queryNode" (onSubmit)="EaTable.request($event)"></ea-query>


  <ea-tip type="info">
    选择
    <a href="javascript: void(0)">{{ checkedItems.length }}条</a> 相关记录
    <a href="javascript:;" style="margin-right: 8px;" (click)="operation('recommentStatus', 1)">上推荐</a>
    <a href="javascript:;" style="margin-right: 8px;" (click)="operation('recommentStatus', 0)">取消推荐</a>
    <a href="javascript:;" style="margin-right: 8px;" (click)="operation('productStatus', 1)">上架</a>
    <a href="javascript:;" style="margin-right: 8px;" (click)="operation('productStatus', 0)">下架</a>
    <a href="javascript:;" style="margin-right: 8px;" (click)="operation(true)">排序</a>
    <a href="javascript:;" style="margin-right: 8px;" (click)="operation();">编辑该商品</a>
  </ea-tip>

  <ea-table #EaTable (dataChange)="ready($event)" [thead]="tableNode"  [EaTableTbodyTr]="EaTableTbodyTr" [allowSpace]="false"
    [checked]="true" [(checkedItems)]="checkedItems" spanKey="hasChildren" checkedKey="skuId"
    url="/shop/listShopByCondition">
    <ng-template let-data #EaTableTbodyTr>
      <td [attr.rowspan]="data.hasChildren ? data.hasChildren : 1"  *ngIf="data.hasChildren">{{ data.sort }}</td>
      <td [attr.rowspan]="data.hasChildren ? data.hasChildren : 1"  *ngIf="data.hasChildren">{{ data.productNum }}</td>
      <td [attr.rowspan]="data.hasChildren ? data.hasChildren : 1"  *ngIf="data.hasChildren">{{ data.name }}</td>
      <td [attr.rowspan]="data.hasChildren ? data.hasChildren : 1"  *ngIf="data.hasChildren">{{ data.brandName }}</td>
      <td [attr.rowspan]="data.hasChildren ? data.hasChildren : 1"  *ngIf="data.hasChildren">{{ data.recommentStatus == 1 ? '推荐' : '不推荐' }}</td>
      <td [attr.rowspan]="data.hasChildren ? data.hasChildren : 1"  *ngIf="data.hasChildren">{{ data.productStatus == 1 ? '上架' : '下架' }}</td>
      <td>{{ data.propertiesName }}</td>
      <td>{{ data.price | currency: '￥' }}</td>
      <td>{{ data.activityPrice | currency: '￥' }}</td>
      <td>{{ data.stock }}</td>
      <td>{{ data.purchase }}</td>
      <td>{{ data.extract }}</td>
      <td>{{ data.subcode }}</td>
    </ng-template>
  </ea-table>
</div>


<nz-drawer [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom':'53px' }"
  [nzWidth]="770" [nzVisible]="showDetail" nzTitle="编辑商品信息" (nzOnClose)="showDetail = false">
  <app-update [commodityId]="editCommodityId" (showDetailChange)="editComplate($event)"></app-update>
</nz-drawer>


<nz-modal [(nzVisible)]="showSort" nzTitle="商品排序" (nzOnCancel)="showSort = false" (nzOnOk)="enterSort()">
  <input nz-input type="text" [(ngModel)]="sortNum" placeholder="请输入该商品的排名">
</nz-modal>